# non-dot files
/[^.]*
!/bin

# Don't include files with sensitive data
/.zshrc-secrets

# iJunk
.MacOSX
.Trash
.ICEauthority
.RData

# ZSH junk
/.zcompdump*
/.zsh-update

# History files
/.*history

# Dotfiles
.Xauthority
.addressbook
.aspell.en.prepl
.aspell.en.pws
.bash_logout
.bash_profile
.cache/
.clang-format
.config/
.cups/
.dbus/
.dmrc
.dropbox-dist/
.dropbox/
.electron/
.emacs.d/
.esd_auth
.fehbg
.fonts/
.gem/
.gimp-2.8/
.git-credentials
.gitconfig
.gnome/
.gnupg/
.goldendict/
.gstreamer*
.hplip/
.ipython/
.java/
.jupyter/
.kde4/
.kingsoft/
.lesshst
.local/
.minecraft/
.node-gyp/
.npm/
.nv/
.nvidia-settings-rc
.oh-my-zsh/
.pine-crash
.pinerc
.pki/
.plotly/
.purple/
.rstudio-desktop/
.sogouinput/
.ssh/
.subversion/
.texlive/
.thumbnails/
.vim/
.viminfo
.xprofile
.xsel.log
.xsession-errors
.ycm_extra_conf.py
.ycm_extra_conf.pyc
.zgen/
.zshrc.pre-oh-my-zsh
.zshrc_private

